* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  flex: 25%;
  max-width: 25%;
}



@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}